.container {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 24px;
  width: 100%;
}

.filtersColumn {
  display: flex;
  flex-direction: column;
}

.tableColumn {
  display: flex;
  flex-direction: column;
  min-width: 0;
  flex: 1;
  width: 100%;
  overflow: hidden;
}

.shortlistColumn {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1400px) {
  .container {
    grid-template-columns: 280px 1fr;
  }

  .shortlistColumn {
    display: none;
  }
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
  }

  .filtersColumn {
    order: 2;
  }

  .tableColumn {
    order: 1;
  }
}
