.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 32px;
  width: 100%;
}

.leftColumn {
  display: flex;
  flex-direction: column;
}

.rightColumn {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
  }

  .rightColumn {
    order: -1;
  }
}
